/*===========================================
Colors
===========================================*/
$base-color: #474747;
$text-light: #7a7a7a;
$body-background-color: #FFFFFF;
$theme-color: #0e6937;
$active-color: #A7C357;

/*===========================================
Fonts
===========================================*/
$base-font: 'Metropolis'; /* Base font */
$base-font-weight: normal;
$base-font-style: normal;

$title-font: 'Ivy Mode'; /* Title font */
$title-font-weight: normal;
$title-font-style: normal;

$base-font-size: 16px;